 body {
      background-color: var(--paper-grey-50);
    }
    #cards {
      @apply(--layout-vertical);
      @apply(--center-justified);
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    paper-card {
      width: 100%;
      margin-bottom: 16px;
    }
    .avatar {
      display: inline-block;
      height: 64px;
      width: 64px;
      border-radius: 50%;
      background: var(--paper-pink-500);
      color: white;
      line-height: 64px;
      font-size: 30px;
      text-align: center;
    }
    .fancy .title {
      position: absolute;
      top: 30px;
      left: 100px;
      color: var(--paper-indigo-500);
    }
    .fancy img {
      width: 100%;
    }
    .fancy .big {
      font-size: 22px;
      padding: 8px 0 16px;
      color: var(--google-grey-500);
    }
    .fancy .medium {
      font-size: 16px;
      padding-bottom: 8px;
    }
    .pink {
      --paper-card-header-color: var(--paper-pink-500);
    }

