<!-- pagespace: {{pagespace}} -->

{{#polymer-styles}}
<link rel="import" href="{{href}}">
{{/polymer-styles}}

{{#codoms}}
<link rel="import" href="{{loader}}">
{{/codoms}}

{{#lexdeps}}
<link rel="import" href="{{href}}">
{{/lexdeps}}

{{#imports}}
<link rel="import" href="{{href}}">
{{/imports}}

{{#styles}}
<link rel="import" href="/miraj/polymer/assets/polymer/polymer.html">
<link rel="import" href="{{href}}">
{{/styles}}
{{#modules}}
<style is="custom-style" include="{{module}}">{{css}}</style>
{{/modules}}

{{#css}}
<link rel="stylesheet" href="{{href}}">
{{/css}}

{{#css-links}}
<link rel="stylesheet" {{attribs}}>
{{/css-links}}

{{#inline-css}}
<style>
  {{css}}
</style>
{{/inline-css}}

{{#custom-inline-css}}
<custom-style>
  <style>
    {{css}}
  </style>
</custom-style>
{{/custom-inline-css}}

{{#js}}
<script src="{{src}}"></script>
{{/js}}