<!doctype html>

<html>
    <head>
        <title>Miraj Components Library Demo</title>
        <meta name="description" content="This page demonstrates the Miraj Polymer Paper Library.">
    </head>
    <body>
        <h1>Miraj Components Library Demo</h1>
        <ul>
{{#demos}}
            <li>
                <a href="{{href}}">{{title}}.</a>   {{desc}}
            </li>
{{/demos}}
        </ul>
    </body>
</html>

